@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: rgb(0, 168, 235);
    --accent-color: rgb(241, 228, 36);
}

/* body > * {
    border: 2px solid red;
}

body > * > * {
    border: 2px solid blue;
}

body > * > * > * {
    border: 2px solid green;
}

body > * > * > * > * {
    border: 2px solid purple;
} */

/* General */
body {
    font-family: "Roboto", sans-serif;

    display: grid;
    grid-template: 1fr 5fr / minmax(250px, 1fr) 3fr;
    height: 100vh;
}

#header, #sidebar, #content > * {
    padding: 2rem;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

.icon.white {
    /* Turn black SVG white */
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(141deg) brightness(103%) contrast(101%);
}

img {
    display: inline;
}

/* Header */
#header {
    display: grid;
    grid-template: 1fr 1.5fr / 2fr 1fr;
}

#misc-info {
    display: grid;
    grid-template-columns: 50px 50px auto;
}

#user-display {
    display: grid;
    grid-template: 1fr 2fr / 1fr 4fr;
}

#user-display > .profile-pic {
    grid-row: 1 / -1;
}

/* Sidebar */
#sidebar {
    grid-row: 1 / -1;

    display: flex;
    flex-direction: column;
    gap: 50px;

    background-color: var(--main-color);
    color: white;
    font-weight: bold;
}

#sidebar h2, .nav li {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 40px;
    align-items: center;
    gap: 2rem;
}

#sidebar .icon {
    height: 100%;
}

#sidebar h2 {
    max-width: 250px;
}

.nav li {
    margin: 1rem 0;
    font-size: 20px;

}

/* Content */
#content {
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
}

#projects { 
    grid-row: 1 / -1;
}

#projects > .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#announcements, #trending {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

#trending .user {
    display: grid;
    grid-template: 1fr 1fr / 1fr 3fr;
}

#trending .user img {
    grid-row: 1 / -1;
}