header,
.sidebar,
.content {
    border: 2px solid red;
}

body {
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar content";
    height: 100vh;
}

header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 100px 1fr 2fr;
    padding: 1rem;
}

.content {
    grid-area: content;
}