:root {
    --main-color: rgb(0, 180, 235);
    --accent-color: rgb(241, 228, 36);
}

body > * {
    border: 2px solid red;
}

body > * > * {
    border: 2px solid blue;
}

body > * > * > * {
    border: 2px solid green;
}

body > * > * > * > * {
    border: 2px solid purple;
}

body {
    display: grid;
    grid-template: 1fr 5fr / 1fr 3fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar content";
    height: 100vh;
}

#header, #sidebar, #content > * {
    padding: 1rem;
}

/* Header */
#header {
    grid-area: header;
    display: grid;
    grid-template: 1fr 1.5fr / 2fr 1fr;
}

#misc-info {
    display: grid;
    grid-template-columns: 50px 50px auto;
}

#user-display {
    display: grid;
    grid-template: 1fr 2fr / 1fr 4fr;
}

#user-display > .user-icon {
    grid-row: 1 / -1;
}

/* Sidebar */
#sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* Content */
#content {
    grid-area: content;
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
}

#projects { 
    grid-row: 1 / -1;
}

#projects > .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#announcements, #trending {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

#trending .user {
    display: grid;
    grid-template: 1fr 1fr / 1fr 3fr;
}

#trending .user img {
    grid-row: 1 / -1;
}